@model IEnumerable<_2024_b1_individueel.Models.Score>

@{
    ViewData["Title"] = "Index";
}

<h1>Scores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AchievedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AchievedScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AchievedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AchievedScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Identifier">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Identifier">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Identifier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
